CHAIN_ID=
ALCHEMY_API_KEY=
ETHERSCAN_API_KEY=
PRIVATE_KEY=

# Use THESE KEYS IF YOU WANT IN YOUR .env files

CHAIN_ID=11155111
ALCHEMY_API_KEY_T=mD2C_0LgAPcOTRyIBo6YAbR5mBoos79v
ALCHEMY_API_KEY_M=Jrdmq7hRlxXBBRmJrinMGmjtkJnzk08v
ETHERSCAN_API_KEY=VQ68KD9N5CJHY2ZTHHU7A3NWD3NW5PIPKS
PRIVATE_KEY=8a00f1dc9ea183651f20e0a6b2211576e62538511c2c1ab0a6969da73a80cd64
CMC_API_KEY=f1fee4da-48ed-44c1-8b2e-24c0220c6d3f
PROVIDER_URL=https://eth-sepolia.g.alchemy.com/v2
MAINNET_FORKING_ENABLED=false

# Development utils
MOCK_USDT_TOKEN=0xa2D347817c00E1C516BbF46d7E4D43531B8399AE
OWNER_ADDRESS=0xAaCe684E2825f1C65c5B564ccf930dFc4dc7788E
BACKEND=http://localhost:3000